<section class="contact-area section-gap" id="contact">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-60 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">User Form</h1>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form>
                <div>
                    <label for="">value1</lable>
                    <input type="text" name="num1" class="form-contrrol"/><br><br>
                </div>
                <div>
                    <label for="">value2</lable>
                    <input type="text" name="num2" class="form-contrrol"/><br><br>
                </div>
                <div>
                    <button type="submit">Save</button><br><br>
                </div>

                output
                <input type="text" value="{{output}}"/>
            </form>


        </div>

    </div>
  </div>
</section>
